@mixin flex_center {
    display: flex;
    justify-content: center;
    @content;
}

@mixin font($font_family, $size, $color) {
    font-family: $font_family;
    font-size: $size;
    color: $color;
    @content;
}

@mixin text_center($height) {
    text-align: center;
    line-height: $height;
    @content;
}

body {
    background-color: #fafafa;
}

.container-fluid {
    padding: 0;
    height:70vh;
}

.introduction {
    @include flex_center;
}

.img-left {
    width: 1110px;
    height: 555px;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: contain;
        overflow: hidden;
    }
}

ul.items {
    @include flex_center;
    flex-wrap: wrap;
    max-width: 1130px;
    @include font("Noto Sans TC", 32px, #000000);
}

.item {
    width: 565px;
    height: 555px;
    // border: 1px solid black;
    overflow: hidden;

    &.special {
        height: 1080px;
    }
}

.text {
    @include flex_center {
        // flex-direction: column;
        flex-wrap: wrap;
    }

    padding: 110px 110px 0px 110px;

    &.spe {
        padding-top: 92px;
    }

    &.spe2 {
        padding-top: 52px;
    }
}

.title {
    width: 350px;
    @include font("Noto Sans TC", 32px, #000000);
    line-height: 48px;

    &.fix {
        margin-bottom: 48px;
    }

    &.spe {
        margin-bottom: 48px;
        line-height: 36px;
        font-size: 24px;
    }
}

.text .content {
    width: 350px;
    @include font("Noto Sans TC", 20px, #000000);
    line-height: 30px;
    font-weight: 300;

    &.spe {
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
    }
}

.more {
    margin-top: 16px;
    width: 350px;
    @include font("Noto Sans TC", 16px, #AC8A46);
}

.adjust {
    background-image: url(../images/index3.png);
    height: 555px;
    background-repeat: no-repeat;
    background-size: cover;
}

.image1 {
    background-image: url(../images/index4.jpg);
    height: 555px;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    background-image: url(../images/index5.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn_spe {
    margin: 60px auto 0px auto;
    width: 350px;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-size: 20px;

    @include text_center(60px) {
        line-height: 50px;
    }
}

.promote {
    margin-top: 60px;
    max-width: 1920px;
    height: 728px;
    @include flex_center;
    background-color: #E0E0E0;

    .products {
        margin-top: 40px;
        @include flex_center;

        .product {
            margin: 0 15px;
            width: 350px;

            .img {
                height: 540px;
                width: 350px;
                background-repeat: no-repeat;
                background-size: cover;

                &.product_img1 {
                    background-image: url(../images/index6.jpg);
                }

                &.product_img2 {
                    background-image: url(../images/index7.jpg);
                }

                &.product_img3 {
                    background-image: url(../images/index8.jpg);

                    &::before {
                        content: 'Sold out';
                        display: block;
                        height: 540px;
                        width: 350px;
                        background: rgba(0, 0, 0, 0.3);
                        // opacity: 0.3;
                        @include font("Noto Sans TC", 24px, #fff);

                        @include text_center(540px) {
                            line-height: 540px;
                        }
                    }
                }
            }

            .discount {
                @include flex_center {
                    justify-content: flex-start;
                }

                ;
            }

            .product_name,
            .product_brand,
            .price {
                @include font("Noto Sans TC", 24px, #000000);
                line-height: 36px;
                font-weight: 600;
            }

            .product_brand,
            .price {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
            }

            .price {
                margin-top: 16px;

                &.disabled {
                    margin-left: 8px;
                    text-decoration: line-through;
                    color: #8D8D8D;
                }
            }
        }
    }
}

.new {
    @include flex_center;
    margin-top: 60px;

    .img {
        height: 520px;
        width: 730px;
        background-repeat: no-repeat;
        background-size: cover;

        &.product_new {
            background-image: url(../images/index9.jpg);
        }
    }

    .text {
        padding: 30px;

        @include flex_center {
            flex-direction: column;
        }

        .p2 {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
        }
    }
}

.subscribe {
    height: 600px;
    max-width: 1920px;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/index10.jpg);
    background-position: center center;

    .slogan {
        @include font("Noto Sans TC", 32px, #8D8D8D) {
            line-height: 48px;
        }

        padding: 312px 1165px 0px 405px;
    }

    .input_block {
        @include flex_center;
        border-radius: 4px;
        width: 350px;
        height: 60px;
        margin-left: 405px;
        margin-top: 20px;

        a {
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            overflow: hidden;
        }

        .input {
            border-radius: 4px 0px 0px 4px;
            border: 2px solid #916000;
            width: 219px;
            color: #8D8D8D;
            background-color: #fff;
            // text-align: left;
            padding-left: 16px;
            line-height: 54px;
        }

        .button {
            width: 131px;
            @include text_center(60px);
            background-color: #916000;
            color: #FFFFFF;
            border-radius: 0px 4px 4px 0px;
        }
    }
}

.footer {
    @include flex_center;
    max-width: 1920px;
    height: 80px;
    background-color: #905f0b;
    @include font("Noto Sans TC", 32px, #FFFFFF);

    .footer_block {
        width: 1110px;
        display: flex;
        justify-content: space-between;

        .logo_block {
            @include flex_center;
            line-height: 84px;

            .logo {
                margin: auto;
                width: 128px;
                height: 38px;
                background-image: url(../images/d’Perfumewhite.png);
            }

            .copyright {
                margin-left: 20px;
                font-size: 14px;
            }
        }

        .menu_block {
            @include flex_center;

            .footer_item {
                font-size: 20px;
                padding: 18px;
                line-height: 46px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}